<header class="page__header">
  <div class="contato-container">
    <p class="escreve-nos">Escreve-nós!</p>
    <div class="contato">
      <a href="mailto:danbaldez@gmail.com"><i class="far fa-envelope"></i></a>

      <a
        href="https://api.whatsapp.com/send?phone=5571 93379312&text=Oi!%20Fale%20com%20Casa%20Baldez"
      >
        <i class="fab fa-whatsapp"></i
      ></a>
    </div>
  </div>
  <div class="segue-nos--container">
    <p class="segue-nos">Segue-nós!</p>
    <div class="header-socialmedia">
      <a
        href="https://www.facebook.com/sereiaboutiquehospedagemcultural/?eid=ARBl1n3nZsQyHlrhvqGP-XtTjidDyKOwH6nDW7TS8zbeXch9-fvysFYLr1-PTRUJP90IYBSxcKJr04BF&timeline_context_item_type=intro_card_work&timeline_context_item_source=726745546&fref=tag"
      >
        <i class="fab fa-facebook-f"></i
      ></a>

      <a href="https://www.instagram.com/sereiahostel/"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</header>
