<main class="page__main">

        <div class="text">
                <div class="servicos-container">
                  <h3>SERVIÇOS</h3>
                  <h4 class="">Dormitorio misto</h4>
                  <p>R$ 40,00</p>
                  <p>Quarto compartilhado com vista mar</p>
                  <h4>Aulas de capoeira</h4>
                  <h4>Pratica Corporal</h4>
                  <p>R$ 25,00</p>
                  <h4>Passeios guiados pelo Centro histórico de Salvador</h4>
                  <p>R$ 100,00</p>
                </div>
              </div>
        
              <div class="bgimg-1">
                <div class="caption">
                  <span class="border">Sereia Boutique Hostel</span>
                </div>
              </div>
            </div>
</main>
