<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Casa Baldez</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link
      rel="stylesheet"
      href="../assets/fonts/webfontkit-clairehand/specimen_files/specimen_stylesheet.css"
    />
    <script
      src="https://kit.fontawesome.com/894d7595ea.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_navbar.html" label="Header"></partial>

      <partial src="_main.html" label="Main"></partial>
    </div>
  </body>
</html>
